.signin {
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(234, 234, 234, 0.5),
      rgba(234, 234, 234, 0.5)
    ),
    url("../assets/loginbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .top-signup {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../assets/signin1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    img {
      height: 40px;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    p {
      font-weight: bold;
      font-size: 34px;
      margin-bottom: 20px;
    }
    input {
      padding: 15px;
      width: 344px;
      border-radius: 20px;
      margin-bottom: 10px;
      border: 1px solid #000000;
      outline: none;
    }
  }
  .bottom-signup {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    p {
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 10px;
    }
    .social-login {
      margin-bottom: 10px;
      img {
        height: 50px;
        margin-right: 10px;
      }
    }
    button {
      cursor: pointer;
      padding: 10px;
      font-weight: bold;
      font-size: 30px;
      border: none;
      background: linear-gradient(
        267.02deg,
        rgba(106, 166, 238, 0.74) 35.23%,
        rgba(160, 198, 243, 0.88) 65.1%
      );
      border-radius: 25px;
      width: 344px;
      margin-bottom: 10px;
    }
    .sigin-route {
      font-weight: normal;
      font-size: 18px;
      span {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .signin {
    background: none;
    padding: 20px;
    .top-signup {
      padding: 10px 20px;
    }
    .bottom-signup {
      padding: 10px 20px;
    }
  }
}
@media screen and (max-width: 360px) {
  .signin {
    background: none;
    height: 100%;
    padding: 10px;
    .top-signup {
      box-shadow: 0px 10px 10px #395e7150;

      input {
        width: 100%;
      }
    }
    .bottom-signup {
      padding: 10px;
      box-shadow: 0px 10px 10px #395e7150;
      button {
        width: 100%;
      }
    }
  }
}
